.venv/
__pycache__/
*.pyc
.env
.terraform/
*.tfstate
*.tfstate.*
crash.log
.secrets/
docs/
*.json

functions/**/package/
functions/**/dist/
**/.terraform/
# Generated METAR processor build directory
functions/weather/metar/processor/build/


envs/dev/tfplan
